.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.quill, .text-editor {
  width:100% !important;
  height:calc(100% - 26px) !important;
}

#toolbar {
  border:1px solid #c4c4c4 !important;
}

#toolbartabs {
  border:0px !important;
  border-top:1px solid #c4c4c4 !important;
  border-bottom:1px solid #c4c4c4 !important;
}

.ql-container.ql-snow {
  border:0px !important;
}

.leftEditorFix > .quill > .ql-container {
  border-left:1px solid #c4c4c4 !important;
  border-right:1px solid #c4c4c4 !important;
}

.ql-tooltip {
  left: 0 !important;
}