.titel {
    text-align: center;
}

button {
    min-width: 80%;
    height: 30px;
    align-items: center;
    border: 15px;
    border-radius: 5px;
    margin: 0 auto;
    display:block;
}

button:hover {
    background-color: #bf2133;
    color: antiquewhite;
}